@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;900&family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;900&family=Oswald:wght@200..700&family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    /* overflow: hidden; */
    /* overflow: auto; */
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url('/heartstring.jpg');
    background-size: cover;
    background-position: center;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    z-index: -1;
}

.main {
    width: 100%;
    height: calc(100% - 160px);
    margin-top: -60px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.main h1 {
    font-size: 4em;
    color: rgb(250, 250, 250);
    font-family: 'Montserrat';
    font-weight: 700;
    margin: 0;
    padding: 0;
    z-index: 2;
}

@media screen and (max-width: 800px) {
    .main h1 {
        font-size: 2em;
    }
}