@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;900&family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;900&family=Oswald:wght@200..700&family=Poetsen+One&display=swap');

.nav {
    font-family: 'Oswald', Poetson-one;
    font-weight: 700;
    position: fixed;
    top: 0;
    width: 100%;
    height: 120px;
    background-color: rgb(50, 50, 50);
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: height ease-in-out .5s, font-size ease-in-out .5s, box-shadow ease-in-out .5s;
    font-size: 1.3em;
    /* box-shadow: 0 10px 3px rgba(0, 0, 0, .4); */
    box-shadow: 0 10px 5px rgba(50, 50, 50, .6);
    z-index: 5;
}

.nav.min {
    height: 80px;
    font-size: .8em;
    box-shadow: none;
}

.nav-title {
    font-size: 2em;
    color: rgb(250, 250, 250);
    cursor: pointer;
}

.nav .menu-items-min {
    display: none;
}

.nav .menu-items {
    list-style-type: none;
    font-size: 1rem;
    position: fixed;
    right: 0;
    display: flex;
}

.nav .menu-items li {
    padding-right: 3em;
}

.nav .menu-items li a {
    font-size: 1em;
    color: rgb(250, 250, 250);
    text-decoration: none;
}

.logo {
    position: fixed;
    left: 0;
    font-size: 1rem;
    padding-left: 3em;
}

.logo img {
    height: 50px;
    transition: height ease-in-out .5s;
}

.logo img.min {
    height: 40px;
}

.footer {
    width: 100%;
    height: 120px;
    background-color: rgb(50, 50, 50);
}

.inner-footer {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner-footer h3 {
    font-size: 1.2em;
    font-weight: 300;
    color: rgb(250, 250, 250);
}

.bTT {
    font-size: 1.2em;
    font-family: 'Oswald', Poetson-one;
    font-weight: 300;
    color: rgb(250, 250, 250);
    cursor: pointer;
    background-color: transparent;
    border: 0;
}

.nav .menu-items-min .items {
    display: none;
}

.itemscontainer {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    align-items: center;
    z-index: 10;
    pointer-events: none;
    transition: ease-out .5s;
}

.items {
    background-color: rgb(255, 255, 255);
    width: 0px;
    height: 0px;
    box-shadow: 0 0 0px rgba(0, 0, 0, .8);
    border-radius: 15px;
    transition: ease-out .5s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


@media screen and (max-width: 1300px) {
    .nav-title {
        font-size: 1.8em;
    }

    .nav .menu-items li {
        padding-right: 2em;
    }
    
    .nav .menu-items li a {
        font-size: .8em;
        color: rgb(250, 250, 250);
        text-decoration: none;
    }
}



@media screen and (max-width: 850px) {
    .nav-title {
        font-size: 1.5em;
    }

    .nav .menu-items {
        display: none;
    }

    .logo {
        position: fixed;
        left: 0;
        font-size: 1rem;
        padding-left: 1em;
    }
    
    .logo img {
        height: 40px;
        transition: height ease-in-out .5s;
    }
    
    .logo img.min {
        height: 40px;
    }

    .nav .menu-items-min {
        display: block;
        position: fixed;
        right: 0;
        padding-right: 1em;
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* position: relative; */
        max-width: 50px;
        max-height: 50px;
    }

    .nav .menu-items-min button {
        width: 50px;
        height: 50px;
        background-color: transparent;
        border: 0;
        color: white;
        font-size: 1em;
        cursor: pointer;
        padding: 5px;
        margin: 0;
        z-index: 5;
    }

    .itemscontainer.show {
        background-color: rgb(0, 0, 0, .5);
        pointer-events: all;
    }

    .items a {
        color: rgb(10, 10, 10);
        text-decoration: none;
        font-size: 20px;
    }

    .items button {
        font-family: 'Oswald', Poetson-one;
        font-weight: 700;
        padding: 0;
        margin: 0;
        color: rgb(10, 10, 10);
        border: 0;
        background-color: transparent;
        font-size: 20px;
    }

    .items.show {
        display: flex;
        background-color: rgb(250, 250, 250);
        margin: auto;
        width: 200px;
        height: 300px;
        box-shadow: 0 0 100px rgba(0, 0, 0, .8);
    }

    .footer {
        height: 80px;
        font-size: .8em;
    }
}


@media screen and (max-width: 400px) {
    .nav-title {
        font-size: 1.3em;
    }
}


